.form-control {
  background-color: transparent !important;
  color: inherit !important;
}
.emailBtn {
  font-weight: bold;
  border: 1px solid #555555;
  color: inherit;
  background-color: transparent;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 1px #555555;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.emailBtn:hover {
    background-color: #555555;
    box-shadow: none;
    color: white !important;
  }
