body {
  /* background-color: #051118; */
  /* height: 100vh; */
  overflow: hidden;
  color: white;
}

:root {
  --slide-color: white;
}

/* .slide {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--slide-color);
}

.slide-in {
  transform-origin: bottom;
}

.slide-out {
  transform-origin: top;
}

.slide-in img {
  width: 10%;
  animation: opacityOut 0.2s;
  -webkit-animation: opacityOut 0.2s;
  opacity: 0;
}

.slide-out img {
  width: 10%;
} */

.container {
  animation: transitionIn 1s;
  -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
  }
}
