body {
  /* background-color: #051118; */
  /* height: 100vh; */
  color: white;
}

:root {
  --slide-color: white;
}

.container {
  animation: transitionIn 1s;
  -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
  }
}
